/* Set up commonly used custom properties */

:root {
  --clr-neutral-999: hsl(255, 100%, 100%);
  --clr-neutral-900: hsl(0, 0%, 90%);
  --clr-neutral-100: hsl(0, 0%, 0%);

  --clr-primary-500: hsl(200, 63%, 36%);

  --fontstack-system-sans: ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --fontstack-system-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times,
    serif;
  --fontstack-system-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

/* Use a better box-sizing model [1] */
/* Remove default padding and margin in all browsers [2] */

*,
::before,
::after {
  box-sizing: border-box; /* [1] */
  padding: 0; /* [2] */
  margin: 0;
}

/* Add an option for dark mode user-agent styles [1] */
/* Improve text rendering on MacOS [2] */

html {
  color-scheme: dark light; /* [1] */
  -webkit-font-smoothing: antialiased; /* [2] */
  -moz-osx-font-smoothing: grayscale;
}

/* Increase line-height in all browsers to match accessibility standards */

body {
  font-family: var(--fontstack-system-sans);
  background: var(--clr-neutral-900);
  line-height: 1.5;
}

/* Balances multi-line headings to prevent orphans */

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

/* Sets all paragraphs to have a comfortable reading width (based on the font size) [1] */
/* Balances multiline paragraphs to avoid orphans [2]  */

p {
  max-width: 75ch; /* [1] */
  text-wrap: pretty; /* [2] */
}

/* Remove whitespace from images being treated as an inline element, ensures media content only get as big as their container (making them responsive) [1] */
/* Ensures any alt text is distinguishable from the rest of the content [2] */

img,
video,
picture,
canvas,
svg {
  display: block; /* [1] */
  max-width: 100%;
  font-style: italic; /* [2] */
}

/* Change font styles in all browsers */

input,
button,
textarea,
select {
  font: inherit;
}

/* Add smooth scrolling on all elements with a target (including nested scrollbars) if a user has not selected prefers-reduced-motion */

@media only screen and (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}

/* Primary Header */

.primary-header {
  padding: 1.5rem;
  background: var(--clr-neutral-999);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
}

.primary-header__title {
  display: flex;
  align-items: center;
}

.primary-header__title svg {
  margin-right: 1rem;
}

.primary-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.primary-header__input {
  font-family: var(--fontstack-system-mono);
  padding: 0.35rem 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Main Content */

.container {
  display: flex;
  flex-direction: column-reverse;
  gap: 5rem;
  max-width: 1280px;
  padding-block: 5rem;
  margin: 0 auto;
}

/* Posts */

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.post {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  max-width: 650px;
  width: 100%;
  background: var(--clr-neutral-999);
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.post:where(:focus-visible, :hover) {
  cursor: pointer;
}

.post__votes{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.post__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}

.post__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__comments {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-select {
  padding: 0.5rem;
}

/* Utility Classes */

.clr-primary-500 {
  color: var(--clr-primary-500);
}

/* Modals */

.modal-container {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.6);
}

.post--modal{
  min-width: min-content;
}